* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-section {
    padding: 70px 80px;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #111022;
}

.contact {
    width: 50%;
    padding: 40px;
    background-color: #292342;
    border-radius: 15px;
}

.contact h1 {
    color: #c58cff;
}

.contact  p {
    color: #d8d3e5;
    margin: 10px;
}

.contact h2 {
    color: white;
}

.contact-details p {
    color: #ddd8e8;
    margin: 18px 0;
}

.link {
    width: 50%;
    padding: 40px;
    background-color: #292342;
    border-radius: 15px;
}

.link h1 {
    color: #c58cff;
    margin-bottom: 30px;
}

.link form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.link input {
    padding: 15px;
    background-color: #17152b;
    color: white;
    border: 1px solid #3b3455;
    border-radius: 8px;
}

.link input::placeholder {
    color: #aaa4b8;
}

.message{
    height: 120px;
}

.link button {
    padding: 14px;
    background-color: #8d4de8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.link button:hover {
    background-color: #a65cff;
}