* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navlogo{
color:aliceblue ;
font-size:40px ;
font-weight:bold ;

}
.navlogo span{
    color: #e053b8;
}
.nav {
    display: flex; /*بيخلي العناصر جنب بعض*/
    justify-content: space-between; /*بيوزع العناصر  في اماكنهم*/
    align-items: center; 
    padding: 20px; /* لو شيلته المحتوي هيبقي لازق*/
    background-color: transparent;
    width: 100%; /*بيغطي عرض الشاشه كله*/
    position: absolute; /*النااف بار لبفضل ثلبت ختي لو حركناه*/
    top: 0;/*الناف بار يبدا من اول الصفخه*/
    left: 0;
    z-index: 1000;/*بيخلي الناف بار دايما ظاهر*/
}

.navlinks ul {
    list-style: none; /*بيشيل اي نقط*/
    display: flex;
    gap: 20px;
}
.navlinks a {
    text-decoration: none;
    color: #d6d9e6;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}
.navlinks a:hover{
    color: #e053b8;
}
.comedy{
     text-align: center;
    padding: 150px;
   overflow: hidden;
   background-color: #070b1a;
}
.comedy h2{
     font-size: 40px;
    font-family: 'Georgia', serif;
    margin-bottom: 110px;
     color:azure;
     text-shadow: 14px 14px 14px rgba(0, 0, 0, 0.6);
     text-align: center;
}
.comedy h2 span{
    color: #e053b8;
}
.card img {
    width: 100%;/*الصوره تملي عرض الكارت كله*/
    height: 250px;
    object-fit: cover;/*بيخلي الصوره تملي المساحه ولو زياده يقص الاطراف*/
    transition: transform 0.3s ease;
    
    width: 250px;
   
    border-bottom: 10px;
    margin-bottom: 10px;
}

.card img:hover {
    transform: scale(1.05); 
}

.cards{
    display: flex;/*الكروت جنب بعض*/
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    transition: .4s ease;
    border: 2px solid transparent;
    background-color:#111a33 ;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.card:hover{
    transform: translateY(-10px);
    /* border-color: #D4AF37;
    box-shadow: 0 0 20px gold; */
}


.card h3{
    margin:10px;
    color:#ffff;
}
.card p{
    padding:10px ;
     color: #d6d9e6;
}

.comedy a{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
 .comedy a{
    color:#ffff;
    text-decoration: none ;
}
.comedy a:hover{
    background-color:#e053b8;
    transform: scale(1.05);
}
